

<!-- extended from base layoout -->
{% extends "base.html" %}

{% block content %}
<meta charset="utf-8">
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
<h1>Войти</h1>
<form action="" method="post" name="login">
	{{form.hidden_tag()}}
	<p>
		Пожалуйста введите свой OpenID, или выберите одного из провайдеров: <br>
		{{form.openid(size=80)}}<br>
		{% for error in form.errors.openid %}
		<span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
		|{% for pr in providers %}
        <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
        {% endfor %}
	</p>
	<p>{{form.remember_me}} Сохранить</p>
	<p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}